<li>
    {{burger}}

    <button class="consume" data-id="{{id}}" data-newconsume="{{consume}}">
        {{#if consume}} Order again!{{else}}Devour!{{/if}}
    </button>

    {{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>